:host {
  display: block;
  padding: 10px;
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
  max-width: 50vw;
}

form {
  padding: 10px;
}

.form-group {
  padding: 10px;
}

.btn {
  margin-left: 10px;
}
