<form [formGroup]="formGroup" (submit)="submit()">
  <div class="form-group">
    <label for="todoTitle">Todo title</label>
    <input
      formControlName="title"
      type="text"
      class="form-control"
      id="todoTitle"
      aria-describedby="todoTitle"
      placeholder="Enter title">
  </div>

  <div class="form-group">
    <label for="todoContent">Todo content</label>
    <textarea
      formControlName="content"
      rows="5"
      class="form-control"
      id="todoContent"
      aria-describedby="todoContent"
      placeholder="Enter content"></textarea>
  </div>

  <input
    class="btn btn-primary"
    type="submit"
    value="Create"
    [disabled]="formGroup.invalid">
</form>
